---
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: network.backup
  description: Ansible network backup pattern
  tags:
    - ansible
    - collection
  annotations:
    backstage.io/techdocs-ref: dir:.
    github.com/project-slug: ganeshrn/network.backup
  links:
    - url: {{ config.ansible.devSpaces.baseUrl }}/#https://github.com/ganeshrn/network.backup
      title: Open Ansible network backup pattern project in OpenShift Dev Spaces
      icon: web
spec:
  type: ansible-pattern-project
  lifecycle: production
  owner: user:default/ganeshrn
